<% songs.each do |song| %>

  <div class="post">
    <div class="votes">

      <form method="post" action="/like">
        <input type="text" name="id" value="<%= song.id %>" style="display:none;">
        <input type="image" class="upvote" alt="Submit button"><br>
      </form>
      
      <span>6</span>
 <% #Vote.all.where(song_id: song.id).count %>
      
      <form method="post" action="/unlike">
        <input type="text" name="id" value="<%= song.id %>" style="display:none;">
        <input type="image" class="downvote" alt="Submit button"><br>
      </form>

    </div>

    <div class="track">
      <a href="/<%= song.id %>">
        <%= song.title %>
      </a>

      by <%= song.author %>
      
      <!--
      <% unless song.url.blank? %>
        <a href="<%= song.url %>" target="_blank">
          <button class="youtube">
          </button>
        </a>
      <% end %>-->




      <br>
      <% if song.user_id? %>
        posted by: <%= users.find(song.user_id).name %>
      <% end %>

    </div>
  </div>
  <br>



<% end %>

