<div class="post">
    <div class="votes">

      <form method="post" action="/like">
        <input type="text" name="id" value="<%= @song.id %>" style="display:none;">
        <input type="image" class="upvote" alt="Submit button"><br>
      </form>
      
      <span><%= Vote.all.where(song_id: @song.id).count %></span>

      <form method="post" action="/unlike">
        <input type="text" name="id" value="<%= @song.id %>" style="display:none;">
        <input type="image" class="downvote" alt="Submit button"><br>
      </form>

    </div>

    
    <div class="track">

    <div class="name">
    <% if @song.user_id? %>
       <a href="/users/<%= users.find(@song.user_id).name %>"><%= users.find(@song.user_id).name %></a>
    <% end %>
    </div>

      <h3>   <span class="glyphicon glyphicon-music"></span>
      <a href="/<%= @song.id %>">
        <%= @song.title %>
      </a></h3>

      &nbsp;&nbsp;<h4> <%= @song.author %></h4>
      
      
      <% unless @song.url.blank? %>
      <h3>
        <a href="<%= @song.url %>" target="_blank">
            <span class="glyphicon glyphicon-facetime-video"></span>
        </a>
        </h3>
      <% end %>
      <br>
  


    </div>
  </div>
  <br>


  <% unless current_user.nil? %>
  <form action="/review" method="post">
        <input type="text" name="song_id" value="<%= @song.id %>" style="display:none;">
        <textarea rows="4" class="comment" type="text" name="review"></textarea><br>
        <div id="rate" name="raty"></div><br>
        <input type="number" name="rating" style="display:none;" id="rating">
        <input type="submit" style="margin-bottom:30px;">
  </form>
  <% end %>


  <% unless @reviews.nil? %>
    <% @reviews.sort_by{|x| x.created_at }.reverse.each do |review| %>
    <br><br>
    <div class="review">
      <h3><%= users.find_by(id:review.user_id).name%></h3>
      <h2><%= review.review %></h2><br>
      <div class="rating" data-score="<%= review.rating %>"></div>
    </div>  
    <% end %>
  <% end %>



<script src="../javascript/application.js"></script>
<script>

$('#rate').raty({
  click: function(score, evt) {
    $('#rating').val(score)
  }});




  $.each($('.rating'), function( index, value ) {  
    $(value).raty({ 
      readOnly: true, 
      number: 5,
      score: $(value).attr('data-score')  
    });
  });






</script>


